

.cont h1{
  margin-right: 200px;
  margin-bottom: 40px;
}

.cont .content {
  width: 450px;
  align-items: center;

}


.cont .content {
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.cont .content input {
  margin-top: 10px;
  border: solid 1px #333;
}


.cont .content textarea{
  margin-top: 10px;
  width: 100%;
  height: 160px;
  border: 0;
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  font-size: 18px;
  color: #333;
  border: solid 1px #333;
}

.cont .content #btnAdd{ 
  margin-top: 30px;
  background: #170c3a;
  color: #fff;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
}



